@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

:root {
    --percentage: 0;
}

body {
    color: rgb(161 161 170);
    font-family: "Open Sans", sans-serif;
    background: #000;
}

h1 {
    line-height: 5rem;
    /* letter-spacing: -0.025em; */
}

.start-page {
    position: relative;
    background-size: 80px 80px;
    background-image: linear-gradient(
            to right,
            rgba(25, 25, 25, 0.4) 1px,
            transparent 1px,
            rgba(0, 0, 0, 0)
        ),
        linear-gradient(to bottom, rgba(25, 25, 25, 0.4) 1px, transparent 1px);
}

.shadow-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* box-shadow: 0 -150px 600px 350px rgb(103 232 249); */
    /* box-shadow: 0 -150px 600px 350px rgb(136, 179, 249); */
    box-shadow: 0 -150px 600px 350px rgb(105, 148, 216);
    opacity: 0.5;
    height: 1px;
    width: 800px;
}

.shadow-container-small {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0px 250px 75px rgb(105, 148, 216);
    opacity: 0.5;
    height: 1px;
    width: 10px;
}

.button-shadow:hover {
    box-shadow: 0 0 20px rgba(105, 148, 216, 0.4);
}

.faded-line {
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(
        to left,
        #000 2%,
        rgb(105, 148, 216) 50%,
        #000 98%
    );
}

.vignette {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 250px rgba(11, 11, 11, 1) inset;
}

.login-background {
    background-image: url("/index-login-background.svg");
    height: 100vh;
    background-color: rgba(105, 148, 216, 0.1);
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 16px;
    color: rgb(147, 147, 147);
    /* color: rgb(105, 148, 216); */
    font-size: 13px;
}

.button-shadow-signin {
    box-shadow: rgba(45, 32, 17, 0.12) 0px 1px 1px 0px,
        rgba(45, 32, 17, 0.2) 0px 1.50259px 3px 0px,
        rgba(45, 32, 17, 0.2) 0px 4px 8px 0px,
        rgba(45, 32, 17, 0.3) 0px 12px 24px -6px,
        rgb(46, 42, 40) 0px -2px 0px 0px inset;
}

.placeholder::placeholder {
    color: #656565;
}

.pie::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(#22c55e calc(var(--percentage) * 1%), #ef4444 0);
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - 5px),
        #000 calc(100% - 5px)
    );
    mask: radial-gradient(
        farthest-side,
        #0000 calc(99% - 4px),
        #000 calc(100% - 4px)
    );
}

@media (max-width: 768px) {
    .start-page-text {
        line-height: 1.85rem;
        font-size: 1.1rem;
    }

    .faded-line {
        width: 100%;
    }

    .shadow-container {
        width: auto;
    }

    h1 {
        line-height: 3.5rem;
        /* letter-spacing: -0.025em; */
    }
}

/* @layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
} */

/* tailwind styles */

.main-text {
    @apply bg-gradient-to-br from-white to-zinc-500 font-bold text-transparent bg-clip-text z-50;
}

.stat-card {
    @apply bg-zinc-900/50 ring-1 ring-zinc-100/15 rounded-xl p-3;
}

.icons {
    @apply ring-1 ring-zinc-100/10 w-[60px] h-[60px] rounded-full cursor-pointer hover:scale-110 transition-all duration-300 flex items-center justify-center;
}

.table-cell {
    @apply flex justify-center items-center flex-1 h-[50px];
}

.table-head {
    @apply flex-1 flex items-center justify-center;
}
